<h2> Files</h2>
<body>
    <b>smiles </b>: Virtual Environment - Use source /smiles/bin/activate to activate the virtual env<br>
    <b>datasets/download.sh </b>: Bash script to download datasets 
		Usage : bash download.sh gdb13 OR bash download.sh gdb17 or bash download.sh gdb17
<br>
    <b>datasets/delete.sh </b>: bash script to delete files in the folder. 
		Usage : bash delete.sh gdb11_ where gdb11 is the grep string to search for.
<br>
    <b>datasets/extract.sh </b>: To extract files from a tar file and to save it in a folder

<br>

In [1]:
# Importing Libraries
import pandas as pd
import smilite # Library to check if data generated is correct or not

In [1]:
data=pd.read_csv('datasets/gdb11/gdb11_size10.smi',delimiter='\t')
#data.to_csv('datasets/gdb11_size10.csv') # Saving a copy in CSV format
data.head()

   CC(C(C)(C)C)C(C)(C)C  1  1.1
0  CC(C)(C)C(N)C(C)(C)C  2    1
1  CC(C)(C)C(O)C(C)(C)C  3    1
2  CC(C)(C)C(F)C(C)(C)C  4    1
3  CC(C(C)(C)C)C(C)(C)N  5    1
4  CC(C)(C)C(N)C(C)(C)N  6    1

In [2]:
data.columns=['Molecule','_','__']
data.drop(data.columns[-2:],axis=1,inplace=True)
data.head()

               Molecule
0  CC(C)(C)C(N)C(C)(C)C
1  CC(C)(C)C(O)C(C)(C)C
2  CC(C)(C)C(F)C(C)(C)C
3  CC(C(C)(C)C)C(C)(C)N
4  CC(C)(C)C(N)C(C)(C)N

<h4> Since the neural network cannot generate charachters, converting them into One Hot Encoded Data

In [3]:
# Finding the distinct charachters in the dataset
distinct_charachters=set(' '.join(data['Molecule'].values))
distinct_charachters

{' ',
 '#',
 '(',
 ')',
 '+',
 '-',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '=',
 'C',
 'F',
 'H',
 'N',
 'O',
 '[',
 ']',
 'c',
 'n',
 'o'}