The Student News Service at Clear Mountain State University (CMSU) has decided to gather data about the undergraduate students that attend CMSU. CMSU creates and distributes a survey of 14 questions and receives responses from 62 undergraduates (stored in the Survey data set).

In [1]:
import pandas as pd
df=pd.read_csv('Survey-1.csv')
df.head()

,ID,Gender,Age,Class,Major,Grad Intention,GPA,Employment,Salary,Social Networking,Satisfaction,Spending,Computer,Text Messages
0,1,Female,20,Junior,Other,Yes,2.9,Full-Time,50.0,1,3,350,Laptop,200
1,2,Male,23,Senior,Management,Yes,3.6,Part-Time,25.0,1,4,360,Laptop,50
2,3,Male,21,Junior,Other,Yes,2.5,Part-Time,45.0,2,4,600,Laptop,200
3,4,Male,21,Junior,CIS,Yes,2.5,Full-Time,40.0,4,6,600,Laptop,250
4,5,Male,23,Senior,Other,Undecided,2.8,Unemployed,40.0,2,4,500,Laptop,100

2.1. For this data, construct the following contingency tables (Keep Gender as row variable)

2.1.1. Gender and Major

2.1.2. Gender and Grad Intention

2.1.3. Gender and Employment

2.1.4. Gender and Computer

In [3]:
# Contingency table is built using crosstab in python
# Building a contingency table between Gender and Major
pd.crosstab(df['Gender'],df['Major'])

Major,Accounting,CIS,Economics/Finance,International Business,Management,Other,Retailing/Marketing,Undecided
Gender,,,,,,,,
Female,3,3,7,4,4,3,9,0
Male,4,1,4,2,6,4,5,3

In [4]:
# Between Gender and Grad Intention
pd.crosstab(df['Gender'],df['Grad Intention'])

Grad Intention  No  Undecided  Yes
Gender
Female           9         13   11
Male             3          9   17

In [5]:
#Gender and Employment
pd.crosstab(df['Gender'],df['Employment'])

Employment  Full-Time  Part-Time  Unemployed
Gender
Female              3         24           6
Male                7         19           3

In [6]:
# Gender and computer
pd.crosstab(df['Gender'],df['Computer'])

Computer  Desktop  Laptop  Tablet
Gender
Female          2      29       2
Male            3      26       0

2.2. Assume that the sample is representative of the population of CMSU. Based on the data, answer the following question:

2.2.1. What is the probability that a randomly selected CMSU student will be male?

2.2.2. What is the probability that a randomly selected CMSU student will be female?

In [14]:
df[['Gender','ID']].groupby(by='Gender').count()

        ID
Gender
Female  33
Male    29

In [16]:
# 2.2.1
# Probability of a rnadomly selected student being a male= total number of males/total number of students
print(33/62*100,' Percentage change of a randomly selected student being a male')

53.2258064516129  Percentage change of a randomly selected student being a male

In [17]:
# 2.2.1
# Probability of a rnadomly selected student being a female= total number of females/total number of students
print(29/62*100,' Percentage change of a randomly selected student being a female')

46.774193548387096  Percentage change of a randomly selected student being a female

2.3. Assume that the sample is representative of the population of CMSU. Based on the data, answer the following question:

2.3.1. Find the conditional probability of different majors among the male students in CMSU.

2.3.2 Find the conditional probability of different majors among the female students of CMSU.

In [26]:
#2.3.1
# Coditional probability of Accounting for males= Number of males who took accounting/total number of males
df1=pd.DataFrame(pd.crosstab(df['Major'],df['Gender'])['Male'])
df1

                        Male
Major
Accounting                 4
CIS                        1
Economics/Finance          4
International Business     2
Management                 6
Other                      4
Retailing/Marketing        5
Undecided                  3

In [34]:
for idx in df1.index:
    print('Conditional probability of ',idx,' students is ',df1.loc[idx].values[0]/29*100)

Conditional probability of  Accounting  students is  13.793103448275861
Conditional probability of  CIS  students is  3.4482758620689653
Conditional probability of  Economics/Finance  students is  13.793103448275861
Conditional probability of  International Business  students is  6.896551724137931
Conditional probability of  Management  students is  20.689655172413794
Conditional probability of  Other  students is  13.793103448275861
Conditional probability of  Retailing/Marketing  students is  17.24137931034483
Conditional probability of  Undecided  students is  10.344827586206897

In [38]:
#2.3.2
# Coditional probability of Accounting for females= Number of females who took accounting/total number of females
df2=pd.DataFrame(pd.crosstab(df['Major'],df['Gender'])['Female'])
df2

                        Female
Major
Accounting                   3
CIS                          3
Economics/Finance            7
International Business       4
Management                   4
Other                        3
Retailing/Marketing          9
Undecided                    0

In [39]:
for idx in df1.index:
    print('Conditional probability of ',idx,' students is ',df2.loc[idx].values[0]/33*100)

Conditional probability of  Accounting  students is  9.090909090909092
Conditional probability of  CIS  students is  9.090909090909092
Conditional probability of  Economics/Finance  students is  21.21212121212121
Conditional probability of  International Business  students is  12.121212121212121
Conditional probability of  Management  students is  12.121212121212121
Conditional probability of  Other  students is  9.090909090909092
Conditional probability of  Retailing/Marketing  students is  27.27272727272727
Conditional probability of  Undecided  students is  0.0