# Exporting the dataset and connecting to google drive

In [8]:
from google.colab import drive
drive.mount("/gdrive")

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [9]:
cd "/gdrive/MyDrive/Colab Notebooks/Project"

/gdrive/MyDrive/Colab Notebooks/Project

# Import the required libraries

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Read the data

In [22]:
# Finding the list of files in the folder
import os
os.listdir()

['sample_submission.csv',
 'test.csv',
 'train.csv',
 'Untitled.ipynb',
 '.ipynb_checkpoints']

In [23]:
import pandas as pd
train_data=pd.read_csv('train.csv')

# Exploratory Data Analysis

In [24]:
# Looking at the data
train_data.head()

   Unnamed: 0  lepton_1_pT  lepton_1_eta  ...  dPhi_r_b  cos(theta_r1)  class
0           0     0.841381      1.832647  ...  0.461542       0.005710    0.0
1           1     0.663798      2.058290  ...  1.455247       0.101246    0.0
2           2     1.792225     -1.099978  ...  0.721326       0.613326    1.0
3           3     0.893018      0.297782  ...  0.803802       0.038902    0.0
4           4     1.338997      0.350023  ...  0.717237       0.003147    1.0

[5 rows x 20 columns]

## Understanding the data to find missing values and wrong data

In [25]:
train_data.isna().sum()

Unnamed: 0                  0
lepton_1_pT                 0
lepton_1_eta                0
lepton_1_phi                0
lepton_2_pT                 0
lepton_2_eta                0
lepton_2_phi                0
missing_energy_magnitude    0
missing_energy_phi          0
MET_rel                     0
axial_MET                   0
M_R                         0
M_TR_2                      0
R                           0
MT2                         0
S_R                         0
M_Delta_R                   0
dPhi_r_b                    0
cos(theta_r1)               0
class                       0
dtype: int64

It can be seen that there is no missing data in the dataset. Hence , there is no process needed to handle null values. However, we might still have missing values or wrong data

## Understanding if the datatype of all columns are normal

In [28]:
train_data.dtypes

Unnamed: 0                    int64
lepton_1_pT                 float64
lepton_1_eta                float64
lepton_1_phi                float64
lepton_2_pT                 float64
lepton_2_eta                float64
lepton_2_phi                float64
missing_energy_magnitude    float64
missing_energy_phi          float64
MET_rel                     float64
axial_MET                   float64
M_R                         float64
M_TR_2                      float64
R                           float64
MT2                         float64
S_R                         float64
M_Delta_R                   float64
dPhi_r_b                    float64
cos(theta_r1)               float64
class                       float64
dtype: object

<h3> Findings from dtypes </h3>

*  All the datatypes are float64 except the Unnamed 0, which means that there is no data entered as NAN, or as other string formats.

# Understanding the statistical distribution of the data

In [29]:
np.round(train_data.describe(),2)

       Unnamed: 0  lepton_1_pT  ...  cos(theta_r1)       class
count  3500000.00   3500000.00  ...     3500000.00  3500000.00
mean   1749999.50         1.00  ...           0.22        0.46
std    1010363.12         0.69  ...           0.20        0.50
min          0.00         0.25  ...           0.00        0.00
25%     874999.75         0.56  ...           0.07        0.00
50%    1749999.50         0.79  ...           0.17        0.00
75%    2624999.25         1.20  ...           0.33        1.00
max    3499999.00        20.55  ...           1.00        1.00

[8 rows x 20 columns]

<h3> Findings from describe table </h3>
<body>


*  From the above table, it can be understood that the Unnamed : 0 is the index
*  The last column is the output column and it has to be seperated. 
*  To understand the dependency of other columns we will have to try other process

## Checking