In [125]:
import pandas as pd

df=pd.read_excel('partCode.xlsx')

recipe=pd.read_csv('recipe.csv')

In [119]:
columns=['Si No','FG Code','Description','For Paint','Painted','Model','Connector Type','Connector Size']

In [120]:
df.columns=columns

In [121]:
df=df.replace('\\xa0',' ')

In [122]:
df['Model']=df['Model'].apply(lambda x : x.replace('\xa0',''))
df['Model']=df['Model'].apply(lambda x : x.replace('cu.in.',''))
df['Model']=df['Model'].apply(lambda x : x.replace('0',''))
df['Model']=df['Model'].apply(lambda x : x.strip())
df['Connector Size']=df['Connector Size'].apply(lambda x : str(x).replace('.',''))
df['Connector Type']=df['Connector Type'].apply(lambda x: x.replace('FLAR','FLARE'))

In [123]:
df['Type']=df['Model']+' '+df['Connector Type']

In [124]:
df.to_excel('partCode.xlsx')

In [131]:
df.columns[2]

'FG Code'

In [159]:
import pandas as pd
df=pd.read_excel('partCode.xlsx')

df.to_csv('partCode.csv')

In [157]:
import pandas as pd
df=pd.read_excel('partCode.xlsx')

recipe=pd.read_csv('recipe.csv')

code=input('FG Code')
Type=df['Type'][df['FG Code']==str(code)].values[0]
circularity=recipe['circularity'][recipe['type']==str(Type)].values[0]
minArea=recipe['min'][recipe['type']==str(Type)].values[0]
maxArea=recipe['max'][recipe['type']==str(Type)].values[0]
print(minArea,maxArea,circularity)

FG Code023Z0245
120 700 0.76

In [111]:
recipe['circularity'][recipe['type']==str(Type)

'S.no '

In [135]:
code

'023Z0245'

In [137]:
Type=df['Type'][df['FG Code']==str(code)]

In [149]:
Type.values[0]

'16 FACE SEAL'

In [155]:
recipe

,type,circularityFilter,circularity,areaFilter,min,max,Tested,Counted
0,5 FACE SEAL,True,0.76,True,120,700,NaN,NaN
1,8 FACE SEAL,True,0.75,True,120,700,NaN,NaN
2,16 FACE SEAL,True,0.76,True,120,700,130.0,130.0
3,3 CU-PLATED,True,0.70,True,60,700,NaN,NaN
4,5 CU-PLATED,True,0.70,True,60,700,200.0,200.0
5,8 CU-PLATED,True,0.76,True,120,900,200.0,200.0
6,16 CU-PLATED,True,0.76,True,120,700,NaN,NaN
7,3 SOLDER,True,0.70,True,60,700,200.0,200.0
8,5 SOLDER,True,0.70,True,60,700,NaN,NaN
9,16 SOLDER,True,0.70,True,60,700,NaN,NaN
10,8 SOLDER,True,0.70,True,60,700,NaN,NaN
11,3 FLARE,True,0.70,True,60,700,NaN,NaN
12,5 FLARE,True,0.70,True,60,700,NaN,NaN
13,8 FLARE,True,0.75,True,120,900,200.0,201.0
14,16 FLARE,True,0.76,True,120,700,NaN,NaN